.app {
  backgroud-color: var(--primary-color);
  font-family: var(--font-base);
}

.app__whitebg {
  background-color: var(--white-color);
}

.app__primarybg {
  background-color: var(--primary-color);
}

.app__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 4rem 2rem;

  @media screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem;
  }
}

.copyright {
  // position: fixed;
  // bottom: 40px;
  // left: -60px;
  // // width: 100%;
  // padding: 2rem 0 0;

  // display: flex;
  // flex-direction: column;
  // justify-content: flex-end;
  // align-items: flex-end;

  // p {
  //   text-transform: uppercase;
  //   color: var(--black-color);
  // }

  // @media screen and (max-width:900px) {
  //   display: none;
  // }
}

.head-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: var(--black-color);
  text-transform: capitalize;

  span {
    color: var(--secondary-color);
  }

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

.p-text {
  font-size: 0.8rem;
  text-align: left;
  color: var(--gray-color);
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

.p-text-right {
  font-size: 0.8rem;
  text-align: center;
  color: var(--gray-color);
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

.bold-text {
  font-size: 1rem;
  font-weight: 800;
  color: var(--black-color);
  text-align: left;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}

.app__social_wrapper {
  position: fixed;
  display: flex;
  align-items: flex-end;
  background-color: #cbcbcb;
  width: 0px;
  padding-bottom: 60px;

  @media screen and (max-width: 900px) {
    height: 60px;
    // width: 100vw;
    justify-content: flex-end;
    right: 55px;
    top:-6px;
    align-items: flex-start;
  }

  @media screen  and (min-width: 900px) {
    top: 66vh;
    left: 0;
    right: 0;
  }
}

.app__social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  padding: 1rem;

  @media screen and (max-width: 900px) {
    flex-direction: row;
  }

  div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--white-color);
    margin: 0.5rem 0;
    border: 1px solid var(--lightGray-color);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in-out;
    @media screen and (max-width: 900px) {
      margin-right: 10px;
    }
    svg {
      width: 15px;
      height: 15px;
      color: var(--gray-color);
    }

    &:hover {
      background-color: var(--secondary-color);
      border-color: var(--secondary-color);

      svg {
        color: var(--white-color);
      }
    }
    @media screen and (min-width: 2000px) {
      width: 70px;
      height: 70px;

      margin: 0.5rem 0;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}


.app__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #efefef;


  padding: 1rem;

  .app__navigation-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #cbcbcb;
    margin: 0.5rem;

    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--secondary-color);
    }

    @media screen and (min-width: 2000px) {
      width: 20px;
      height: 20px;
    }
  }
}

.app__navigation_bg_dark {
  opacity: 1;
  background-color: #21272e;
  // opacity: 0.7;
  box-shadow: 0 0 20 px rgba(168, 168, 168, 0.15);
}


@media screen and (max-width: 500px) {
  .app__navigation{
    display: none;
  }

  .copyright {
    padding: 2rem;
  }
}


label {
  user-select: none;
}

.switch-wrapper > input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.switch-wrapper > input[type="checkbox"] + .switch {
  transform: translateX(5px);
}

.switch-wrapper > input[type="checkbox"]:checked + .switch {
  transform: translateX(50%) translateX(-19px);
}


.switch-wrapper {
  background-color: #cbcbcb;
  color: var(--primary-color);
  border-radius: 20px;
  top:1vh;
  cursor: pointer;
  height: 22px;
  float: left;
  overflow: hidden;
  position: relative;
  width: 42px;
}

.switch-wrapper.large {
  height: 40px;
  width: 80px;
}

.switch-wrapper > .switch {
  color: var(--secondary-color);
  display: inline-block;
  height: 100%;
  left: -100%;
  bottom: 10%;
  position: relative;
  transition: 100ms linear;
  width: 200%;
}

 .switch > .switch-handle {
  background: var(--secondary-color);
  border-radius: 50%;
  display: inline-block;
  height: 14px;
  left: 50%;
  position: relative;
  top: 4px;
  width: 14px;
  z-index: 3;
}
.switch-wrapper.large > .switch > .switch-handle {
  height: 30px;
  width: 30px;
}

.switch-label {
  float: left;
  line-height: 2.5rem;
  margin-top: 1px;
  margin-left: 10px;
  color:  var(--gray-color);
}
.switch-wrapper.large + .switch-label {
  line-height: 4rem;
  margin-left: 15px;
}
